.navbar-container{
    font-family: 'DM Sans', sans-serif;
    background-color: var(--primary);
    color: #ffffff;
    padding-bottom: 20px;
    font-size: 14px;
    .navbar-top{
        display: flex;
        flex-direction: column;
        &-nav{
            display: flex;
            justify-content: space-between;
            padding: 8px 30px;
            &-list{
                display: flex;
                align-items: center;
                gap: 15px;
                &-item{
                    &-link{
                        color: #ffffff;
                        text-decoration: none;
                        transition: all 350ms ease;
                        &:hover{
                            opacity: 0.8;
                        }
                    }
                }
            }
            &-button{
                background-color: none;
                border-radius: 5px;
                border: 0.1px solid #000000;
                background-color: var(--light);
                color: var(--dark);
                padding: 7px 15px;
                cursor: pointer;
                transition: all 350ms ease;
                font-family: 'DM Sans', sans-serif;
                &:hover{
                    box-shadow: 0px 2px 3px rgba($color: #000000, $alpha: 0.3);
                }
            }
        }
    }
    .navbar-bottom{
        &-nav{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            &-logo-container{
                &-logo{
                    font-family: 'DM Serif Display', serif;
                    font-size: 24px;
                    cursor: default;
                }
            }
            &-language{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                position: relative;
                transition: all 350ms ease;
                img{
                    height: 16px;
                    filter: invert(1);
                }
                &-dropdown{
                    position: absolute;
                    top: 30px;
                    left: 0px;
                    background: var(--white);
                    padding: 20px 15px;
                    width: 100%;
                    z-index: 2000;
                    border-radius: 5px;
                    flex-direction: column;
                    gap: 10px;
                    box-shadow: 0px 5px 15px rgba($color: #000000, $alpha: 0.3);
                    display: none;
                    &.active{
                        display: flex;
                    }
                    &-item{
                        &-link{
                            color: var(--black);
                            text-decoration: none;
                            transition: all 350ms ease;
                            cursor: pointer;
                        }
                    }
                }
            }
            &-search-box{
                width: 500px;
                display: flex;
                align-items: center;
                background-color: var(--white);
                border: none;
                position: relative;
                border-radius: 10px;
                input{
                    width: 100%;    
                    padding: 10px;
                    outline: none;
                    background: none;
                    color: var(--black);
                    font-family: 'DM Sans', sans-serif;
                    box-shadow: none;
                    border: none;
                }
                img{
                    // position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: none;
                    height: auto;
                    width: 20px;
                    margin: 5px;
                    padding: 6px;
                    cursor: pointer;
                   border: 1px solid rgba($color: #000000, $alpha: 0.3);
                   border-radius: 50%;
                }
            }
            &-login-signup{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                font-size: 16px;
                img{
                    filter: invert(1);
                }
                .login{
                    cursor: pointer;
                    transition: all 350ms ease;
                    &:hover{
                        opacity: 0.7;
                    }
                }
                .signup{
                    cursor: pointer;
                    transition: all 350ms ease;
                    &:hover{
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}
.navbar-bottom-nav-darkmode{
    cursor: pointer;
}