body {
    --primary:#3C5DD9;
    --secondary: #4A61DD;
    --black: #1E3349;
    --white: #FFFFFF;
    --light: #f3f4f7;
    --dark: #1B2A4E; }
  
  .darkmode {
    --primary: #4A61DD;
    --secondary: #3C5DD9;
    --black: #FFFFFF;
    --light: #1B2A4E;
    --white: #1E3349;
    --dark: #F3F4F7; }
  