@import "utilities/resets";
@import "utilities/variables";
@import "utilities/fonts";

@import "components/navbar";
@import "components/footer";
@import "components/slides";

@import "pages/home_page";
